# 동적 시각화
**동적 시각화**는 **유저**와 **시각화 결과**의 **상호작용**으로 다양한 정보를 **즉각적으로 전달**하는 것이 특징<br>
=> **x축, y축** 등에 의존하는 **제한된 정보 전달**이 **아닌 그 외의 정보**까지 **하나의 그래프**에 담을 수 있음

## 동적 시각화 예제
### 대시보드
- 대시보드는 하나의 화면에서 여러 정보가 연동되어 다양한 정보 제공
- 동적 시각화는 대시보드의 주된 구성요소이며, 사용자 대화형 특성 제공
- 업무에 필요한 데이터를 실시간으로 함축하여 정보 전달 -> 의사결정 서포트
## 동적 시각화 라이브러리 Plotly
파이썬의 대표적인 동적 시각화 라이브러리
### Plotly 패키지
Plotly의 **express(px)**와 **graph_objects(go)** 패키지를 많이 사용

||express|graph_objects|
|---|---|---|
||고수준 API|저수준 API|
|장점|- 쉽고 빠르게 기능 구현<br>- 하나의 커맨드로 그래프 구현|- 섬세하게 시각화 가능<br>- 유연하게 원하는 기능 구현 가능|
|단점|- Seaborn에 비해 상대적으로 부족한 정적 시각화 기능<br>- go에 비해 유연성이 떨어짐|- 하나의 커맨드로 원하는 기능 구현 어려움|

## graph_objects
**graph_objects**는 Plotly의 인기 있는 **데이터 시각화 모듈**로, **3D** 형태의 그래프를 포함한 **다양한 그래프**를 그릴 수 있음<br>
=> **go**라는 별칭 이용하여 호출
> import plotly.graph_objects as go

### go 그리는 법
1. `fig = go.Figure()`
    - Figure(도화지) 객체 생성
2. `fig.add_traces(그래프)`
    - `add_traces`로 원하는 유형의 그래프 추가 (go의 그래프 유형 설정)
3. `fig.update_layout(옵션)`
    - 레이아웃 설정
    - 대표적인 옵션 : `title`, `yaxis_title` 등

# 실습

In [1]:
import plotly.graph_objects as go

import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('./data/ALIM.csv', index_col=0)
display(df)

              Low   Open  Volume   High  Close  Adjusted Close
Date
04-11-2019  4.125  4.500   34573  4.575  4.155           4.155
05-11-2019  4.200  4.200   19360  4.500  4.380           4.380
06-11-2019  4.230  4.395   21500  4.500  4.350           4.350
07-11-2019  4.065  4.500   12347  4.515  4.125           4.125
08-11-2019  3.420  3.900   62853  4.050  3.600           3.600
...           ...    ...     ...    ...    ...             ...
06-12-2022  3.220  3.450   16100  3.468  3.300           3.300
07-12-2022  3.113  3.153    9200  3.245  3.240           3.240
08-12-2022  3.175  3.220   31700  3.402  3.270           3.270
09-12-2022  3.110  3.230   15100  3.270  3.155           3.155
12-12-2022  3.070  3.150    6890  3.160  3.120           3.120

[783 rows x 6 columns]

In [6]:
df.index = pd.to_datetime(df.index, format='%d-%m-%Y')
display(df)

              Low   Open  Volume   High  Close  Adjusted Close
Date
2019-11-04  4.125  4.500   34573  4.575  4.155           4.155
2019-11-05  4.200  4.200   19360  4.500  4.380           4.380
2019-11-06  4.230  4.395   21500  4.500  4.350           4.350
2019-11-07  4.065  4.500   12347  4.515  4.125           4.125
2019-11-08  3.420  3.900   62853  4.050  3.600           3.600
...           ...    ...     ...    ...    ...             ...
2022-12-06  3.220  3.450   16100  3.468  3.300           3.300
2022-12-07  3.113  3.153    9200  3.245  3.240           3.240
2022-12-08  3.175  3.220   31700  3.402  3.270           3.270
2022-12-09  3.110  3.230   15100  3.270  3.155           3.155
2022-12-12  3.070  3.150    6890  3.160  3.120           3.120

[783 rows x 6 columns]

In [7]:
df.index

DatetimeIndex(['2019-11-04', '2019-11-05', '2019-11-06', '2019-11-07',
               '2019-11-08', '2019-11-11', '2019-11-12', '2019-11-13',
               '2019-11-14', '2019-11-15',
               ...
               '2022-11-29', '2022-11-30', '2022-12-01', '2022-12-02',
               '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
               '2022-12-09', '2022-12-12'],
              dtype='datetime64[ns]', name='Date', length=783, freq=None)